/* CSS Rest */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --slider-items-count: 2;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.header > img {
  height: 5rem;
}

/* Slider */

.slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.slider-arrow {
  background: rgb(100, 100, 100);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 300ms ease-in;
}

.slider-arrow:hover {
  background: rgb(52, 52, 52);
}

.slider-mask {
  /* outline: 1px solid red */
  overflow: hidden;
}

.slider {
  display: flex;
  max-width: 100%;
  transition: transform 350ms ease-out;
}

.slider > img {
  object-fit: cover;
  width: calc(100% / var(--slider-items-count));
  padding: 1.25rem;
  transition: all 150ms ease-out;
}

.slider > img:hover {
  transform: scale(1.1);
}

.slider-dots-container {
  --dot-size: 15px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dot {
  width: var(--dot-size);
  height: var(--dot-size);
  background: rgb(228, 228, 228);
  border-radius: 50%;
  cursor: pointer;
  transition: background 100ms ease-in;
}

.dot:hover {
  background: rgb(100, 100, 100);
}

.dot.active {
  background: rgb(100, 100, 100);
}

/* Utilities */

.inactive-opacity {
  opacity: 0.75 !important;
}

.d-none {
  display: none !important;
}

/* Loader -> https://cssloaders.github.io/ */

.loader {
  margin: 4rem auto;
  display: block;
  color: black;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
